body, html {
    height: 100%;
    padding: 0;
}

.banner-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/homeBG.jpg");
  height: 10%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#warren_buffet {
  float: left;
  width: 416px;
  height: 416px;
}
