/* MOBILE FIRST MEDIA QUERY */

body, html{
  height: 100%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
  background-color: #f9f9f9;
}

h1{
  color: white;
  font-size: 7em;
  border-style: solid;
  border-width: 0.05em;
  padding: 0.05em 0.2em 0.05em 0.2em;
  margin: 0.2em auto;
  width: fit-content;
}

h2 {
  font-size: 5em;
  font-weight: bolder;
  /* font-family: 'Roboto', sans-serif; */
  text-align: center;
  padding: 0.5em 0 0.5em 0;
}

h3  {
  font-size: 2.5em;
  text-align: center;
  padding: 1em 0 0.5em 0;
}

p{
  font-family: 'Roboto', sans-serif;
  line-height: 1.8em;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  z-index:1;
  width: 100%;
  box-shadow: 0px 0px 15px #696969;

}

/* Hide the links inside the navigation menu (except for logo/home) */
ul.myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 0.5em;
  text-decoration: none;
  font-size: 3em;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: rgb(35, 35, 37);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.myLinks a:hover {
  background-color: #ddd;
  color: black;
}


/* Style the active link (or home/logo) */
.active {
  background-color: #2e3192;
  color: white;
}

.banner-image {
  background-image: url("../images/berkshire-logo.jpeg");
  height: 40%;
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: 160%;
  position: relative;
}

.news-banner  {
  height: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)), url("../images/homeBG.jpg");
  background-size: 200%;
}

.news-banner-text {
  /* height: 100%; */
  text-align: center;
  padding-top: 25%;

}

.news-banner-text p{
  color: white;
  font-size: 2em;
  line-height: 1.5em;
  margin: 1em 2em 0 2em;
}

button{
  margin: 3em 0;
  padding: 1em;
  border-width: 0;
  background-color: #2e3192;
  border-radius: 10px;
}

button a{
  text-decoration: none;
  font-size: 2.5em;
  color:#ddd;
  font-weight: bold;
}

.main-content {
  margin: 1.5em;
  padding: 0 1em 1em 1em;
}


/* Styling the image slider */
.slider {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.slide {
  display: none;
  width: 100%;
  height: auto;
  transition: opacity 1s;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.footer {
  background-color: #2e3192;
  color: #f9f9f9;
  padding-bottom: 2.5em;
}

.footer p{
  font-size: 0.6em;
  padding-left: 3em;
  padding-right: 3em;
  text-align: center;
  line-height: 4em;
}

/* #form {
  background-color: #2e3192;
} */

form {
  background-color: #f7f7f7;
  border-style: solid;
  border-width: 0.5em;
  border-color:#ddd;
  margin: 10em 1.5em;
  padding: 2em;
}

#form h1{
  border-style: none;
  padding:0;
  margin: 0 0 0.2em 0;
  font-size: 7em;
  color:rgb(35, 35, 37);
  line-height: normal;
  text-align: center;
  width: 100%;
}

#form p{
  font-size:1.5em;
  margin-bottom: 2em;
}

#form li{
  margin: 1.5em 0 1em 0;
}

#input-name input {
  width: 100%;
  font-size: 2em;
  padding: 0.2em;
  margin: 0.2em 0 0.2em 0;
}

#input-email input {
  width: 100%;
  font-size: 2em;
  padding: 0.2em;
  margin: 0.2em 0 0.2em 0;
}

label{
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 2em;
  line-height: 1.5em;
}

#input-submit {
  border-width: 0;
  text-align: center;
  padding-top: 1em;
}

#submit {
  background-color: #2e3192;
  color: #f7f7f7;
  font-size: 3em;
  padding: 0.3em;
}

/* Desktop Media Query */
@media (min-width: 1025px) {
  /* Resize Banner image to fit screen */
  .banner-image {
    height: 90vh;
    background-size: cover;
    background-position: center;
  }
  
  /* Reduce header size */
  h2 {
    font-size: 3em;
    padding: 0.25em 0 0.25em 0;
  }
  
  /* Resize History statement */
  p {
    line-height: 1.5em;
  }
  
  /* Adjust footer and footer content */
  .footer {
    padding-bottom: 1.5em;
  }
  
  .footer p {
    height: 20px;
    font-size: 0.7em;
    line-height: 2em;
  }
  
  h3  {
    font-size: 1.8em;
    text-align: center;
    padding: 1em 0 0.5em 0;
  }
  
  /* Adjust slider images */
  .slider {
      max-width: 100%; 
      margin: 0 auto;
    }
    
  .slide {
    display: block;
    float: left;
    width: 100%;
    transition: opacity 1s;
    height: 110vh;
  }
  
  /* Adjust banner image for newsletter.html */
  .news-banner {
    height: 70vh;
    background-size: 100%;
    background-position: center;
  }
  
  /* Adjust newsletter text box */
  h1{
    font-size: 5em;
    border-width: 0.05em;
    padding: 0.05em 0.2em 0.05em 0.2em;
    margin: 0.2em auto;
    width: fit-content;
  }
  
  /* Adjust sign up text for newsletter.html */
  .news-banner-text {
    padding-top: 15%;
  }
  
  .news-banner-text p {
    font-size: 1em;
  }
  
  /* Adjust main-content heeader for newsletter.html */
  .newspaper-content h2 {
    font-size: 3em;
    padding: 1.2em 0 0.25em 0;  
  }
}