/* MOBILE FIRST MEDIA QUERY */

body, html {
    height: 100%;
}

.banner-image {
  background-image: url("../images/bannerimage.jpg");
  height: 10%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
ul.myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #0430bf;
  color: white;
}

/* Styling the image slider */
.slider {
  max-width: 100%;
  height: 20%;
  overflow: hidden;
}

.slide {
  display: none;
  width: 100%;
  height: auto;
  transition: opacity 1s;
}

/* Styling the mission statement*/
.mission-statement {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
 
/* Styling the buttons*/
.dummy-buttons {
  display: flex;
  justify-content: space-around;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

h2 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}